apiVersion: v1
kind: Service
metadata:
  name: simple-go-app-service
  namespace: dev
  labels:
    app: simple-go-app
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: simple-go-app
